torch==2.6.0
transformers>=4.47.0
tokenizers==0.20.3
accelerate
einops
addict 
easydict
torchvision
PyMuPDF
hf_transfer
paddleocr[doc-parser]
paddlepaddle
gradio==5.49.1
spaces
google-genai>=0.7.0
Pillow
numpy
# git+https://github.com/allenai/olmocr.git
qwen-vl-utils